node_modules
dist
.vscode
.env
.sandstone
resources/cache
resources/datapack_dependencies/summit-dp-core*
resources/resourcepack/assets/sandstone_summit_booth/sounds
resources/resourcepack/assets/sandstone_summit_booth/sounds.json
resources/datapack/data/sandstone_summit_booth/structure/generated
.cache
songs/private/*
.temp