h1 {
    font-size: 24px;
    width: 95vw;
    &#header {
        margin: 10vh 0 2vh 0;
    }
}

h2 {
    font-size: 18px;
    width: 95vw;
    &#header {
        margin: 8vh 0 1vh 0;
    }
}

h3 {
    font-size: 14px;
    width: 95vw;
    &#header {
        margin: 6vh 0 1vh 0;
    }
}

p {
    font-size: 10px;
    width: 95vw;
}

code {
    font-size: 8px;
    color: #d4d4d4;
    background: #1e1e1e;
}

#code-grid {
    height: 100%;
    align-items: center;
    column-gap: 1vw;
    grid-auto-flow: row;
    code {
        width: 100%;
    }
}

#text-grid {
    align-items: center;
    row-gap: 2vh;
}

#img-grid {
    height: 100%;
    align-items: center;
    column-gap: 2vh;
    grid-auto-flow: row;
}